.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
  border: solid 2px #1976d2;
  border-radius: 10px;
  padding: 10px;
}
.btn-active {
  background-color: darkslateblue;
  color: white;
}

.task-done {
  font-weight: bold;
  color: rebeccapurple;
}
.input-error {
  border: 2px solid red;
  outline: none;
}

li {
  list-style-type: none;
}
ul {
  padding-left: 0;
}
.none {
  display: none;
}

